body {
  margin:1em;
  background:#eee;
}

.doc-box {
  width:80%;
  margin:1em auto;
}

.dividedList li:first-child {
  border-top:none;
}

.figureset-lastLine {
  display: flex;
  justify-content: space-between;
  color:rgba(226, 55, 60, 1);
  font-weight:bold;
}

.yes {
  color:rgba(226, 55, 60, 1);
  font-weight:bold;
}

.favoritedStatus {
  margin: 0 25px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
